.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  min-height: 100vh;
}
.header {
  display: flex;
  width: min(1000px, 100vw);
  justify-content: center;
  padding-block: 1rem 2rem;
  align-items: center;
  padding-inline: 1rem;
}
.between {
  justify-content: space-between !important;
}
.btns-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem !important;
}
.btns-container > button {
  margin-block: 0.25rem;
}
.icon {
  display: none;
}
@media screen and (max-width: 550px) {
  .btns-container {
    flex-direction: column;
  }
  .header {
    position: relative;
  }
  .btns-container {
    position: absolute;
    top: 4.5rem;
    right: 5%;
    background-color: black;
    border: 1px solid white;
    z-index: 10;
    padding: 0.5em;
    border-radius: 0.5rem;
    transition: all 0.1s ease-in 1ms;
    display: none;
    width: 50vw;
  }
  .icon {
    display: block;
  }
}

.show {
  display: block !important;
}
